.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    label {
      margin-right: 10px;
    }
  
    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
  
      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  