<div class="book-container" (click)="onClickBook()">
  <h3>{{ book.title }}</h3>
  <img src="{{ book.image }}" alt="Book Image">
  <span class="price">{{ book.price }}$</span>
  <button (click)="addBookToCart()">Add to Cart</button>
</div>

<div #modal class="none-modal">
  <div class="modal-content">
    <h2>{{ book.title }}</h2>
    <img src="{{ book.image }}" alt="Book Image">
    <span class="price">{{ book.price }}$</span>
    <div class="description">{{book.description}}</div>
    <button (click)="addBookToCart()">Add to Cart</button>
    <button (click)="onClickBook()" class="modal-close">Close</button>
  </div>
</div>
