header {
    background-color: #f4f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
  }
  
  .header-icons a {
    margin-left: 10px;
    text-decoration: none;
  }
  
  .account-icon img,
  .cart-icon img {
    height: 20px;
  }
  

  
  
  
  
  
  