<h1>Admin - Page</h1>
<div class="book-list">
  <div class="book-header">
    <div class="header-item">ID</div>
    <div class="header-item">Title</div>
    <div class="header-item">Description</div>
    <div class="header-item">Price</div>
    <div class="header-item">Image</div>
    <div class="header-item"></div>
    <div class="header-item"></div>
  </div>

  <div *ngFor="let book of books | async; let i = index" class="book">
    <app-book-form-for-admin [book]="book"></app-book-form-for-admin>
    <div class="book-item">
      <button (click)="deleteBook(book.id)">Delete Book</button>
    </div>
  </div>
</div>


<button (click)="showForm()">Add New Book</button>
<div *ngIf="show">
  <form [formGroup]="Form">
    <label>Title:</label>
    <input type="text" formControlName="title">
    <label>Description:</label>
    <input type="text" formControlName="description">
    <label>Price:</label>
    <input type="number" formControlName="price">
    <label>Image:</label>
    <input type="text" formControlName="image">

    <button (click)="addNewBook()">Add Book</button>

    <div class="error">{{ error }}</div>
  </form>
</div>