h1 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 100vw;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;

}

th,
td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
}

.book:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  margin-right: 10px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}

h2 {
  margin-top: 20px;
}

input[type="number"] {
  width: 80px;
}

.redirect-account {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  table {
    table-layout: fixed;
  }

  th,
  td {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
  }

  th:first-child,
  td:first-child {
    margin-top: 10px;
  }

  button {
    display: block;
    margin-top: 10px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
