<h1>Log - in</h1>
<form [formGroup]="form">
  <fieldset>
      <legend>Login</legend>
      <div class="form-field">
          <label>Email:</label>
          <input name="Email" formControlName="Email">
      </div>
      <div class="form-field">
          <label>Password:</label>
          <input name="Password" formControlName="Password" 
                 type="password">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="button button-primary" 
              (click)="login()">Login</button>
  </div>
</form>
<br>
<button routerLink="/signup">sign up</button>
<br><br>
<button routerLink="/admin-signup">sign up as manager</button>


