<div class="books-app-container">
  <h3>Our Books:</h3>
  <app-books-search class="books-container" (books_to_display)="onBooksSearch($event)"> </app-books-search>

  <div class="book-pagination">
    <app-book *ngFor="let book of paginatedBooksToDisplay; let i = index" class="book" [book]="book"></app-book>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
